<div style="float:left; padding-right:16px;">
	<?php echo $this->gravatar($this->zfcUserIdentity()->getEmail()) ?>
</div>

<h3>Witaj, <?php echo $this->zfcUserDisplayName() ?>!</h3>

<ul>
	<li><a href="<?php echo $this->url('calendar') ?>">Kalendarze</a></li>
	<li><a href="<?php echo $this->url('zfcuser/changepassword') ?>">Zmień hasło</a></li>
	<li><a href="<?php echo $this->url('zfcuser/changeemail') ?>">Zmień adres e-mail</a></li>
	<li><a href="<?php echo $this->url('zfcuser/logout') ?>">Wyloguj się</a></li>
</ul>



<div style="clear:both;"></div>
