/* 
    Document   : tweaks
    Created on : 2013-12-12, 13:40:30
    Author     : pawka_000
    Description:
        Purpose of the stylesheet follows.
*/

div.container form label {
	clear: both;
	display: block;
}

div.container form label span {
	display: block;
	float: left;
	width: 150px;
}