<?php

$title = 'Usunąć kalendarz?';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Na pewno chcesz usunąć 
    <em>'<?php echo $this->escapeHtml($calendar->title); ?></em>'?
	Spowoduje to usunięcie wszystkich wydarzeń powiązanych z kalendarzem.
</p>
<?php
$url = $this->url('calendar', array(
    'action' => 'delete',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="calendar_id" value="<?php echo (int) $calendar->calendar_id; ?>" />
    <input type="submit" name="del" value="Tak" />
    <input type="submit" name="del" value="Nie" />
</div>
</form>