<?php
	$calendars = $this->calendars;
	$title = 'Kalendarze użytkownika ' . $this->escapeHtml($calendars[0]->email);;
	$this->headTitle($title);
?>

<h3><?php echo $this->escapeHtml($title); ?></h3>

<ul>
	<li><a href="<?php echo $this->url('user');?>">Powrót do profilu</a></li>
    <li><a href="<?php echo $this->url('calendar', array('action'=>'create'));?>">Stwórz nowy kalendarz</a></li>
</ul>

<h4>Kalendarze stworzone przez Ciebie</h4>

<?php if (is_null($calendars)): ?>

	<p>Brak kalendarzy</p>

<?php else: ?>
	
	<table class="table">
	<tr>
		<th>Nazwa kalendarza</th>
		<th>Opis</th>
		<th>Właściciel</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach ($calendars as $calendar) : ?>
	<tr>
		<td>
			<a href="<?php echo $this->url('calendar',array('action'=>'show', 'id' => $calendar->calendar_id));?>">
					<?php echo $this->escapeHtml($calendar->title);?>
			</a>
		</td>
		<td><?php echo $this->escapeHtml($calendar->description);?></td>
		<td>
			<?php echo $this->gravatar($this->escapeHtml($calendar->email));?>
			<?php echo $this->escapeHtml($calendar->email);?>
		</td>
		<td>
			<a href="<?php echo $this->url('calendar',
				array('action'=>'settings', 'id' => $calendar->calendar_id));?>">Ustawienia</a>
			<a href="<?php echo $this->url('calendar',
				array('action'=>'delete', 'id' => $calendar->calendar_id));?>">Usuń</a>
		</td>
	</tr>
	<?php endforeach; ?>
	</table>
	
<?php endif; ?>
