<?php
	$form = $this->form;
	$title = 'Ustawienia kalendarza ' . $this->escapeHtml($form->get('title')->getValue());
	$this->headTitle($title);
?>
	<h3><?php echo $this->escapeHtml($title); ?></h3>
	
	<p><a href="<?php echo $this->url('calendar', array('action' => 'show', 'id' => $this->id));?>">Anuluj</a></p>

<?php
	
	$form->setAttribute('action', $this->url(
		'calendar',
		array(
			'action' => 'settings',
			'id'     => $this->id,
		)
	));
	$form->prepare();

	echo $this->form()->openTag($form);
	echo $this->formHidden($form->get('calendar_id'));
	echo $this->formHidden($form->get('user_id'));
	echo $this->formRow($form->get('title'));
	echo $this->formRow($form->get('description'));
	echo $this->formSubmit($form->get('submit'));
	echo $this->form()->closeTag();
