<?php
	$calendar = $this->calendar;
	
	$title = $this->escapeHtml($calendar->title);
	$this->headTitle($title);
?>

<h3><?php echo $this->escapeHtml($title); ?></h3>

<p>Kliknij w puste miejsce, aby dodać nowy termin, kliknij w wybrany termin, aby zobaczyć jego szczegóły.</p>

<p>Autor kalendarza:
	<?php echo $this->escapeHtml($calendar->email) . ' ' . $this->gravatar($this->escapeHtml($calendar->email)); ?>
</p>

<p>Opis: <?php echo $this->escapeHtml($calendar->description); ?></p>

<p><a href="<?php echo $this->url('calendar');?>">Powrót do listy kalendarzy</a></p>

<div id="fullcalendar"></div>

<?php $this->headScript()->captureStart(); ?>

$(document).ready(function() {
	// page is now ready, initialize the calendar...
	$('#fullcalendar').fullCalendar({
		
		
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		
		defaultView: 'month',
		allDaySlot: false,
		
		events: '<?php echo $this->url('event',array('action'=>'load', 'id' => $this->escapeHtml($calendar->calendar_id)));?>',
		
		eventDataTransform: function(eventData) {
			eventData.start = new Date(eventData.begin);
			eventData.end = new Date(eventData.end);
			eventData.allDay = false;
			eventData.url = '<?php echo $this->url('event',array('action'=>'show'));?>' + '/' + eventData.event_id;
			return eventData;
		},
		
		dayClick: function(date, allDay, jsEvent, view) {
			
			var action = '<?php echo $this->url('event',array('action'=>'create', 'id' => $this->escapeHtml($calendar->calendar_id))) ?>';
			var dateUri = date.getTime() / 1000;
			var allDayUri = allDay ? 1 : 0;
	
			console.log(action + '/' + dateUri  + '/' + allDayUri);
			window.location = action + '/' + dateUri  + '/' + allDayUri;
		},
		
		
	});
});	

<?php $this->headScript()->captureEnd(); 