<div class="jumbotron">
    <h1>Kalendarz</h1>
	<p>Witaj w aplikacji pozwalającej na tworzenie kalendarzy i rezerwację terminów.</p>
    <p><a class="btn btn-success btn-lg" href="<?php echo $this->url('user'); ?>">Przejdź do swojego profilu!</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Główne cechy aplikacji</h3>
            </div>
            <div class="panel-body">
                <p>Aplikacja została stworzona z wykorzystaniem <a href="http://framework.zend.com/">Zend Framework 2</a>.
					Obsługa użytkowników (rejestracja i logowanie) wykorzystuje dodatkowy moduł <a href="https://github.com/ZF-Commons/ZfcUser">ZfcUser</a>.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dostępne funkcje</h3>
            </div>
            <div class="panel-body">
				<ul>
					<li>Logowanie, rejestracja użytkowników</li>
					<li>Tworzenie kalendarzy</li>
					<li>Edycja ustawień kalendarzy (tytuł i opis)</li>
					<li>Usuwanie kalendarzy</li>
					<li>Dodawanie, edycja i usuwanie wydarzeń z kalendarza</li>
				</ul>
				<p>Lista funckji...</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Kod źródłowy</h3>
            </div>
            <div class="panel-body">
                <p>Przejdź do <a href="https://bitbucket.org/pawcio/zf2-kalendarz/">repozytorium</a></p>
            </div>
        </div>
    </div>
</div>
