<?php

$title = 'Usunąć wydarzenie \'' . $this->escapeHtml($event->title) . '\'?';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Na pewno chcesz usunąć 
    <em>'<?php echo $this->escapeHtml($event->title); ?></em>'?
</p>
<?php
$url = $this->url('event', array(
    'action' => 'delete',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="event_id" value="<?php echo (int) $event->event_id; ?>" />
    <input type="hidden" name="calendar_id" value="<?php echo (int) $event->calendar_id; ?>" />
    <input type="submit" name="del" value="Tak" />
    <input type="submit" name="del" value="Nie" />
</div>
</form>