<?php
	$form = $this->form;
	$title = 'Edycja wydarzenia ' . $this->escapeHtml($form->get('title')->getValue());
	$this->headTitle($title);
?>
	<h3><?php echo $this->escapeHtml($title); ?></h3>
	
	<p><a href="<?php echo $this->url('calendar', array('action' => 'show', 'id' => $this->escapeHtml($form->get('calendar_id')->getValue())));?>">Anuluj</a></p>

<?php
	
	$form->setAttribute('action', $this->url(
		'event',
		array(
			'action' => 'edit',
			'id'     => $this->id,
		)
	));
	$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('event_id'));
echo $this->formHidden($form->get('calendar_id'));
echo $this->formHidden($form->get('author_id'));
echo $this->formRow($form->get('title'));
echo $this->formRow($form->get('description'));
echo $this->formRow($form->get('begin'));
echo $this->formRow($form->get('end'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
