<?php
	$event = $this->event;
	
	$title = $this->escapeHtml($event->title);
	$this->headTitle($title);
?>

<h3>'<?php echo $this->escapeHtml($title); ?>' z kalendarza '<?php echo $this->escapeHtml($event->calendar_title); ?>'</h3>

<p>Opis: <?php echo $this->escapeHtml($event->description); ?></p>

<p>Od: <?php echo $this->escapeHtml($event->begin); ?> do: <?php echo $this->escapeHtml($event->end); ?></p>

<p>Wydarzenie utworzone przez: <?php echo $this->escapeHtml($event->author_email) . ' ' . $this->gravatar($this->escapeHtml($event->author_email)); ?></p>

<ul>
    <li><a href="<?php echo $this->url('event', array('action' => 'edit', 'id' => $this->escapeHtml($event->event_id)));?>">Edytuj wydarzenie</a></li>
    <li><a href="<?php echo $this->url('event', array('action' => 'delete', 'id' => $this->escapeHtml($event->event_id)));?>">Usuń wydarzenie</a></li>
    <li><a href="<?php echo $this->url('calendar', array('action' => 'show', 'id' => $this->escapeHtml($event->calendar_id)));?>">Powrót do kalendarza</a></li>
</ul>

